<html>
    <head>
        <title>Job Site</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"> 
        <link rel="stylesheet" href="/CSS/apk.css">

    </head>
    <body>
        <h1>EMPLOYEE SIGN UP</h1>
        <form action="/registeEmployee" method="POST">
            <div class="form-group">
                <input type="text" name="username" placeholder="Username">
            </div>
            <div class="form-group">
                <input type="password" name="password" placeholder="Password">
            </div>
            <div class="form-group">
                <button class="btn btn-primary width">Submit</button>
            </div>
        </form>
        <a class="btn btn-primary new" href="/loginEmployee">Already a User</a>
    </body>
</html>

<!-- <h1>Sign up as Employee</h1>
<form action="/registeEmployee" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button>Submit</button>
</form>
<a href="/loginEmployee">Already a user</a> -->