<html>
    <head>
        <title>Job Site</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"> 
        <link rel="stylesheet" href="/CSS/apk.css">
        <style>
            .btn{
                margin-top:-50%;
                margin-left: 23%;
                width: 200;
            }
        </style>
    </head>
    <body>
        <div class="bg">
            <p>WELCOME</p>
           
        </div>
        <div>
            <a class="btn btn-secondary" href="/loginEmployee">Find A Job</a>
            <a class="btn btn-secondary" href="/loginEmployer">Post A Job</a>
        </div>
    </body>
</html>



























