<html>
    <head>
        <title>Job Site</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"> 
        <link rel="stylesheet" href="/CSS/apk.css">

    </head>
    <body>
        <h1>Add a New Job</h1>
        <form action="/employer/<%= employer._id%>/jobs/new" method="POST">
            <div class="form-group">
                <input type="text" name="job[title]" placeholder="Title">
            </div>
            <div class="form-group">
                <input type="text" name="job[desc]" placeholder="Desc" >
            </div>
            <div class="form-group">
                <button class="btn btn-primary width">Submit</button>
            </div>
        </form>
    </body>
</html>


<!-- 
<form action="/employer/<%= employer._id%>/jobs/new" method="POST">
    <input type="text" name="job[title]" placeholder="Title">
    <input type="text" name="job[desc]" placeholder="Desc" >
    <button>Submit</button>
</form> -->
